@use 'tailwindcss' as *;
@use 'modules/shared/theme/colors.scss' as *;

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-bg: 'var(--color-bg)';
    --color-text: 'var(--color-text)';
    --color-subtitle: 'var(--color-subtitle)';
    --color-primary: 'var(--color-primary)';
    --color-secondary: 'var(--color-secondary)';
    --color-gray: 'var(--color-gray)';
    --color-green: 'var(--color-green)';
    --color-greenpale: 'var(--color-greenpale)';
    --color-red: 'var(--color-red)';
    --color-orange: 'var(--color-orange)';
    --color-redpale: 'var(--color-redpale)';
    --color-purple: 'var(--color-purple)';
    --color-redtoaster: 'var(--color-redtoaster)';
    --color-blue: 'var(--color-blue)';
    --color-greentoaster: 'var(--color-greentoaster)';
    --color-darkbg: 'var(--color-darkbg)';
    --color-orangecard: 'var(--color-orangecard)';
    --color-redcard: 'var(--color-redcard)';

}

@layer components {
    .card-style {
        @apply sm:w-[392px] w-full sm:mb-0 mb-4 bg-primary rounded-lg shadow-md p-4;
    }

    .page-container {
        @apply container sm:px-8 px-6 w-full sm:pt-24 gap-x-4 items-start m-0 pb-12  flex sm:flex-row flex-col;
    }

    .input-style {
        @apply px-4 py-2 rounded-sm text-text w-full outline-none border-none dark:bg-bg/50 bg-gray/50;
    }

    .cancel-button {
        @apply px-4 py-1 border border-purple cursor-pointer text-purple font-semibold rounded-md hover:bg-purple/10;
    }

    .confirm-button {
        @apply px-4 py-1 bg-purple border border-transparent cursor-pointer font-semibold text-primary rounded-md hover:bg-purple/80;
    }

    .footer-style {
        @apply w-full bg-primary/60 backdrop-blur-md bottom-0 left-0 z-30 fixed flex sm:hidden justify-center items-center py-4;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);

}

* {

    box-sizing: border-box;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eeebf5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eeebf5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eeebf5;
}