@use 'tailwindcss' as *;
@use 'modules/shared/theme/colors.scss' as *;

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-bg: 'var(--color-bg)';
    --color-text: 'var(--color-text)';
    --color-subtitle: 'var(--color-subtitle)';
    --color-primary: 'var(--color-primary)';
    --color-secondary: 'var(--color-secondary)';
    --color-gray: 'var(--color-gray)';
    --color-green: 'var(--color-green)';
    --color-greenpale: 'var(--color-greenpale)';
    --color-red: 'var(--color-red)';
    --color-orange: 'var(--color-orange)';
    --color-redpale: 'var(--color-redpale)';
    --color-purple: 'var(--color-purple)';
    --color-redtoaster: 'var(--color-redtoaster)';
    --color-blue: 'var(--color-blue)';
    --color-greentoaster: 'var(--color-greentoaster)';
    --color-darkbg: 'var(--color-darkbg)';
}

@layer components {
    .card-style {
        @apply sm:w-[392px] w-full sm:mr-8 sm:mb-0 mb-4 bg-primary rounded-lg shadow-md p-4;
    }

    .page-container {
        @apply container sm:px-8 px-6 w-full sm:pt-24 mx-auto flex sm:flex-row flex-col;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);

}

* {

    box-sizing: border-box;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eeebf5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eeebf5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eeebf5;
}