:root {
    --color-bg: #F5F5F8;
    --color-text: #191C1F;
    --color-subtitle: #99A0AE;
    --color-primary: #fff;
    --color-secondary: #E0E6F5;
    --color-gray: #E5E4EE;
    --color-green: #4DCEA1;
    --color-greenpale: #C2FFEA;
    --color-red: #C95153;
    --color-orange: #d1481b;
    --color-redpale: #FFD3D3;
    --color-purple: #C66BD6;
    --color-toasterbg:#fff;
    --color-redtoaster: #C95153;
}

.dark {
    --color-bg: #3C3E5C;
    --color-text: #DAE9F8;
    --color-subtitle: #99A0AE;
    --color-primary: #2D2F4E;
    --color-secondary: #2A2C45;
    --color-gray: #E5E4EE;
    --color-green: #206270;
    --color-greenpale: #30BF7F;
    --color-red: #753233;
    --color-orange: #882c0e;
    --color-redpale: #D48284;
    --color-purple: #C66BD6;
    --color-toasterbg:#1c223a;
    --color-redtoaster: #b05f5f;
}

